.sectionContacts {
    .contactsContainer {
        padding: 20px;

        .titleContainer {
            margin-bottom: 20px;

            .conocemas {
                font-size: 27px;
                margin: 0;
                font-weight: 600;
            }
        }
    }

    .infoabout,
    .mision {
        margin: 25px 150px;

        font-size: 19px;
        line-height: 1.5;
        text-align: justify;
    }

    .mision {
        font-weight: bold;
        color: #2d929b;
    }

    .contenedorLogo1 {
        display: flex; 
        justify-content: center; 
        background-color: #2d929b;
        height: 30vh;
        border-radius: 0px 30px 0px 30px;
        margin: 150px 90px 50px 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        .contenedorLogo2 {
            display: flex; 
            justify-content: center;
            background-color: #ffffff;
            height: 20vh;
            width: 100%;
            border-radius: 0px 30px 0px 30px;

            .logo {
                width: 40%;
            }
        }
    }
}