.footer {
    width: 100%;
    height: 230px;
    background-color: nth($color-palette, 8);

    .footerContainer {
        font-family: $font-primary;
        padding-top: 20px;

        .footerh3 {
            padding-left: 250px;
            font-size: 18px;
            margin-bottom: 3px;
            font-weight: 600;
            margin: 0;
        }

        .iconsBox {
            display: flex;
            justify-content: space-around;
            padding-top: 7px;
    
            .iconsContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: center;
                padding: 3px;
                margin-top: 5px;
    
                #icons {
                    font-size: 2rem;
                    color: nth($color-palette, 1)
                }
    
                .iconsText {
                    padding-left: 7px;
                    color: nth($color-palette, 2);
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
        }
        .iconsBoxMobile {
            display: none;
        }
    }
    .smallContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .smallFooter {
            font-size: 12px;
            align-items: center;
            font-family: $font-primary;
        }
    }
}