.cardContainer {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;

    .card {
        border-radius: 25px;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
        height: 400px;

        .card-img-top {
            border-radius: 25px;
            height: 230px;
            
        }

        .card-body {
            font-family: $font-primary;
            color: nth($color-palette, 2);
            
            .card-title {
                font-weight: 600;
                font-size: 17px;
            }

            .card-text {
                font-weight: 600;
                font-size: 13px;
            }

            .btn-primary {
                background-color: nth($color-palette, 6);
                border-color: nth($color-palette, 11);
                color: nth($color-palette, 11);
                font-weight: bold;
                transition: background-color 0.3s ease;
                text-align: left;
                width: 230px;
                border-radius: 30px;

                &:hover {
                    background-color: rgb(40, 167, 26, 0.2);
                    color: nth($color-palette, 11);
                }
            }
        }
    }
}

.sectionContainerProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;

    .nameCategoryResponsive {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titleCategory {
            font-family: $font-primary;
            font-weight: bold;
            color: nth($color-palette, 2);
            font-size: 18px;
        }
        
        .imageContainer {
            background-color: nth($color-palette, 1);
            padding: 10px;
            border-radius: 50%;
            margin-top: 15px;
            
            .imgCategoryResponsive {
                width: auto;
                height: 50px;
                padding: 5px;
            }
        }
    }
}

.listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 50px;
}