.cardContainer {
    overflow-y: hidden;
    
    .card {
        border-radius: 25px;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;

        .card-img-top {
            border-radius: 25px;
            height: 100%;
        }

        .card-body {
            font-family: $font-primary;
            color: nth($color-palette, 2);
            
            .card-title {
                font-weight: 600;
            }

            .card-text {
                font-weight: 600;
            }

            .btn-primary {
                background-color: nth($color-palette, 6);
                border-color: nth($color-palette, 11);
                color: nth($color-palette, 11);
                font-weight: bold;
                transition: background-color 0.3s ease;
                text-align: left;
                width: 230px;
                border-radius: 30px;

                &:hover {
                    background-color: rgb(40, 167, 26, 0.2);
                    color: nth($color-palette, 11);
                }
            }
        }
    }
}

.listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: hidden;
    padding: 50px;
}