@media screen and (max-width: 1075px) {
    .footer .footerContainer .footerh3 {
        text-align: center;
        padding-left: 0;
    }

    .listContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:992px) {
    header {
        padding-left: 0rem;
        margin-bottom: 70px;
    }

    .navbar-nav {
        background-color: rgba(252, 252, 249, 0.918);
        height: 100vh;
        width: 96vw;
        position: fixed;
        font-size: 20px;
        padding-top: 2.5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 2rem;
        padding-top: 5rem;
        padding-left: 0px;
        margin-left: 0px;
    }


    .container-fluid {
        height: 23vh !important;
        width: 100vh;
        z-index: 99;
        position: fixed;
        background-color: rgb(255, 255, 255);
    }

    .container-mobile {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        height: 20vh !important;
        width: 100vw;
        z-index: 99;
        position: fixed;
        background-color: rgb(255, 255, 255);
        padding-top: 4rem;
        margin-top: 1.5rem;
    }

    .navbar-toggler {
        margin-top: 1.5rem;
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .navbar-toggler:active{
        transform: scale(1.1);
        transition: all .3s ease;
    }

    .nav-item {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        width: 65vw;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-link-home {
        padding-left: 10px;
        padding-right: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav-link-home:hover {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 100%;
    }

    .nav-link-about {
        padding-left: 10px;
        padding-right: 74%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav-link-about:hover {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 74%;
    }

    .nav-link-products {
        padding-left: 10px;
        padding-right: 70%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav-link-products:hover {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 61%;
    }


    #contactanos {
        padding-left: 10px;
        padding-right: 80%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #contactanos:hover {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 80%;
    }

    .categoryMenu {
        display: none;
    }

    .mobile-category-container {
        margin-top: 2.5rem;
    }

    .mobileCategories {
        margin-top: 0.5rem;
        padding-bottom: .2rem;
        font-size: medium;
        border-bottom: 2px solid #2d929b4b;
        border-left: 1px solid #2d929b3b;
        border-radius: 20px 30px 0px 30px;
        padding-left: 1em;
    }

    .mobile-category-list {
        list-style-type: none;
    }

    a {
        text-decoration: none !important;
        color: rgba(0, 0, 0, 0.562);
    }

    a:hover {
        color: rgba(0, 0, 0, 0.562);
    }

    .carousel {
        padding-top: 50px;
        margin-top: 120px;
    }
}

@media screen and (max-width: 890px) {
    .cardContainer .card .card-body .btn-primary {
        width: 150px;
        text-align: center;
    }
}

@media screen and (max-width: 860px) {
    .image-container .textContainer .titleCarousel {
        font-size: 20px;
    }

    .image-container .textContainer .titleCarousel .magiFont {
        font-size: 50px;
    }

    .image-container .textContainer .textCarousel {
        display: none;
    }

    .image-container .textContainer .btn {
        margin-top: 50px;
    }

    .sectionContacts .contactsContainer .titleContainer .conocemas {
        font-size: 22px;
        padding: 0px;
        margin-top: 1rem;
        font-weight: 700;
        height: 0px;
    }

    .sectionContacts .infoabout {
        font-size: 16px;
        margin: 0px 20px;
    }

    .sectionContacts .mision {
        font-size: 20px;
        margin: 10px 20px;
    }

    .sectionContacts .contenedorLogo1 {
        margin: 50px 0px;
    }

    .sectionContacts .contenedorLogo1 .contenedorLogo2 .logo {
        width: 50%;
    }

    .cardContainer {
        justify-content: center;
    }

    .listContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 770px) {
    .sectionContacts .formContainer .row .namePhoneContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 750px) {
    .bodyHomeContainer .imgContainer #imageHiddenResponsive {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .image-container .textContainer .btn {
        width: 35%;
    }
}

@media screen and (max-width: 590px) {
    .image-container .textContainer .titleCarousel {
        font-size: 15px;
    }

    .image-container .textContainer .titleCarousel .magiFont {
        font-size: 40px;
    }

    .image-container .textContainer .btn {
        font-size: 12px;
    }
}

@media screen and (max-width: 580px) {
    .cardContainer {
        justify-content: center;
    }

    .listContainer {
        grid-template-columns: 1fr;
    }

    .cardContainer .card .card-body .btn-primary {
        width: 210px;
        font-size: 13px;
    }

    .sectionContainerProducts .nameCategoryResponsive {
        display: flex;
        margin-top: 50px;
    }
}


@media screen and (max-width: 460px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer .footerContainer .footerh3 {
        font-size: 14px;
    }

    .footer .footerContainer .iconsBox {
        display: none;
    }

    .footer .footerContainer .iconsBoxMobile {
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    .footer .footerContainer .iconsBoxMobile a {
        padding: 10px;
    }

    .navbar-nav {
        font-size: 14px;
    }

    .sectionContacts .contactsContainer .titleContainer .conocemas {
        font-size: 18px;
    }

    .sectionContacts .infoabout {
        font-size: 14px;
    }

    .sectionContacts .mision {
        font-size: 18px;
    }

    .contenedorLogo2 .logo{
        height: 16vh;
        margin-right: 2.2rem;
        margin-top: 1rem;
    }
    #contactos {
        margin-top: 1.4rem;
    }


}

@media screen and (min-width: 461px) {
    .nav-item {
        margin-bottom: 2rem !important;
        width: 65vw;
    }

    .mobile-category-container {
        margin-top: 2.5rem;
    }

    .mobileCategories {
        margin-top: 0.5rem;
        font-size: 16px !important;
        width: 210px !important;
        margin-top: 15px !important;
    }
}

@media screen and (min-width: 320px) {

    .nav-item {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 65vw;
    }

    .mobile-category-container {
        margin-top: 1.5rem;
    }

    .mobileCategories {
        margin-top: 0.5rem;
        font-size: small;
        width: 150px;
        margin-top: 13px;
    }


}

@media screen and (min-width: 993px) {

    /*.navbarList {
        line-height: 1.5;
    }*/
    .container {
        width: 0vw;
    }

    .cotainer-mobile {
        width: 14vw;
    }

    .logo {
        width: 150px;
    }

    .nav-item {
        width: 13vw;
        margin-right: 4rem;
        margin-left: 2rem;
    }

    #inicio {
        margin-right: -1.5rem;
    }

    #aboutmagi {
        margin-right: 3rem;
    }

    #nuestrosprods {
        margin-left: 1.3rem;
        margin-right: 5rem;

    }

    #contactos {
        margin-right: -1rem;
    }

    .navbar-nav {
        width: 80vw;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
    }

    .categoryMenu {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .mobile-category-container {
        display: none;
    }

}



@media screen and (min-width: 1076px) {

    /*.logo {
        width: 15vw;
    }

    .objectList {
        font-size: medium;
        margin: 0;
        width: 23%;
        padding-top: 1em;
    }

    .navbar {
        height: 18vh;
        width: 100vw;
    }

    .navbarList {
        width: 78vw;
    }

    .objectList.dropdown.open .dropdown-content {
        width: 95vw;
        margin-left: -3.5rem;
        padding-right: 1rem;
    }*/




}

@media screen and (min-width: 1200px) {

    .navbar-nav {
        font-size: large;
        margin-top: 1rem;
        margin-left: 5rem;
    }

    .nav-item {
        margin-top: 4rem;
        margin-bottom: 1rem;
        margin-right: 3rem;
        width: 14vw;
    }

    .container-mobile {
        margin-top: 2rem;
    }

    .logo {
        width: 200px;
    }

    /*.objectList {
        font-size: large;
        margin: .5em;
    }

    .objectList.dropdown.open .dropdown-content {
        width: 95vw;
        margin-left: -6.5rem;
        margin-right: -6.5rem;
    }*/

    .sectionContacts .contenedorLogo1 .contenedorLogo2 .logo {
        width: 26%;
    }
}

@media screen and (min-width: 1500px) {

    .navbar-nav {
        font-size: larger;
    }

    .nav-item {
        margin-right: 3rem;
        width: 16vw;
    }

    .container-mobile {
        margin-right: 2rem;
    }

    /*.objectList {
        font-size: large;
        margin: .5em;
    }

    .objectList.dropdown.open .dropdown-content {
        width: 95vw;
        margin-left: -6.5rem;
        margin-right: -6.5rem;
    }*/
}