@media screen and (max-width: 1075px) {
    .footer .footerContainer .footerh3 {
        text-align: center;
        padding-left: 0;
    }

    /*.logo {
        width: 12vw;
    }

    .objectList {
        font-size: medium;
        margin: 0;
        padding-top: 1em;
        width: 24%;
    }

    .navbar {
        height: 17vh;
        width: 100vw;
    }


    .navbarList {
        width: 80vw;
        padding-right: 1em;
    }

    .objectList.dropdown.open .dropdown-content {
        width: 95vw;
        margin-left: -3.5rem;
        padding-right: 1rem;
    }*/
}

@media screen and (max-width: 770px) {
    .sectionContacts .formContainer .row .namePhoneContainer {
        flex-direction: column;
    }

    /*.objectList {
        font-size: large;
    }



    .active-link {
        padding-top: 1.2rem;
    }

    .objectList.dropdown.open .dropdown-content {
        padding-left: 9rem;
        height: 35vh;
        width: 130vw;
        padding-top:1em;
        padding-bottom: 1em;
        margin-left:2.5rem;
        margin-right: 1rem;
    }*/


}


@media screen and (max-width:992px) {
    
    header {
        padding-left: 0rem;
    }

    .navbar-nav{
        background-color: rgba(252, 252, 249, 0.918);
        height: 100vh;
        width: 85vw;
        position: fixed;
        font-size: 20px;
        padding-top: 2.5rem;
        flex-direction: column;
        justify-content: flex-start;  
        align-items: flex-start; 
        margin-top: 2rem;
    }


    .container-fluid{
        height: 17vh !important;
        width: 100vw;
        z-index: 99;
        position:fixed;
        background-color: rgb(255, 255, 255);
    }
    
    .container-mobile{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        height: 17vh !important;
        width: 100vw;
        z-index: 99;
        position:fixed;
        background-color: rgb(255, 255, 255);
    }
    .nav-item{
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        width: 65vw;
    }

    .categoryMenu{
        display:none;
    }

    .mobile-category-container{
        margin-top: 2.5rem;
    }
    .mobileCategories{
        border-bottom: 1px solid #2d929b;
        margin-top: 0.5rem;
        font-size: medium;
    }

    .mobile-category-list {
        list-style-type: none;
    }

    /*.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .navbarList {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }


    .mobile-menu-open .navbarList {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 95%;
        background-color: rgb(243, 243, 237);
    }

    .navbarList {
        height: 100vh;
    }

    .navbarList .objectList {
        display: block;
        width: 75vw;
        height: 7vh;
        margin: 0.5rem 0;
        text-align: left;
        margin-bottom: 4rem;
    }

    .active-link {
        text-align: left;
        padding-left: 2rem;
        padding-top: 1rem;

    }


    .logo {
        width: 30vw;
        margin: 0 auto;
        margin-right: 7rem;
    }

    .active-link:hover,
    .active-link:focus {
        padding-top: 1em;
    }

    .objectList.dropdown.open .dropdown-content {
        display: flex;
        flex-direction: column;
        overflow: initial;
    }

    .dropdown-content{
        padding-left: 18rem;
    }

    .dropdown-item {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 4vh;
        width: 50%;
        border-bottom: 1px solid #2d929b;
        padding-top:1.5em;
        padding-bottom: 0em;
        margin-left: 3rem;
    }*/
}



@media screen and (max-width: 460px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footer .footerContainer .footerh3 {
        font-size: 14px;
    }

    .footer .footerContainer .iconsBox {
        display: none;
    }

    .footer .footerContainer .iconsBoxMobile {
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    .footer .footerContainer .iconsBoxMobile a {
        padding: 10px;
    }

    .navbar-nav {
        font-size: 14px;
    }


    /*.objectList {
        font-size: medium;
    }

    .active-link {
        width: 90%;

    }

    .dropdown-item{
        width: 90%;
    }
    
    .objectList.dropdown.open .dropdown-content {
        width: 105vw;
        padding-left: 7rem;
        height: 35vh;
        width: 110vw;
        padding-top:1em;
        padding-bottom: 1em;
        margin-left:0;
        margin-right: 1rem;
    }*/


}

@media screen and (min-width: 461px) {


    .nav-item{
        margin-bottom: 2rem !important;
        width: 65vw;
    }

    .mobile-category-container{
        margin-top: 2.5rem;
    }

    .mobileCategories{
        margin-top: 0.5rem;
        font-size: 16px !important;
        width: 210px !important;
        margin-top: 15px !important;
    }
}

@media screen and (min-width: 320px) {

    .nav-item{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        width: 65vw;
    }

    .mobile-category-container{
        margin-top: 1.5rem;
    }
    .mobileCategories{
        margin-top: 0.5rem;
        font-size: small;
        width: 150px;
        margin-top: 13px;
    }



}

@media screen and (min-width: 993px) {
    /*.navbarList {
        line-height: 1.5;
    }*/
    .container{
        width: 0vw;
    }
    .cotainer-mobile{
        width: 14vw;
    }

    .logo{
        width: 150px;
    }

    .nav-item{
        width: 13vw;
        margin-right: 4rem;
        margin-left: 2rem;
    }

    #inicio{
        margin-right: -1.5rem;
    } 

    #aboutmagi{
        margin-right: 3rem;
    }

    #nuestrosprods{
        margin-left:1.3rem;
        margin-right: 5rem;

    }

    #contactos{
        margin-right: -1rem;
    }

    .navbar-nav {
        width: 80vw;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top:2rem;
    }

    .categoryMenu {
        margin-left: 3rem;
        margin-right: 3rem;
    }
   
    .mobile-category-container{
        display: none;
    }

}



@media screen and (min-width: 1076px) {

    /*.logo {
        width: 15vw;
    }

    .objectList {
        font-size: medium;
        margin: 0;
        width: 23%;
        padding-top: 1em;
    }

    .navbar {
        height: 18vh;
        width: 100vw;
    }

    .navbarList {
        width: 78vw;
    }

    .objectList.dropdown.open .dropdown-content {
        width: 95vw;
        margin-left: -3.5rem;
        padding-right: 1rem;
    }*/


}

@media screen and (min-width: 1200px) {

    .navbar-nav {
        font-size: large;
        margin-top: 1rem;
        margin-left: 5rem;
    }

    .nav-item{
        margin-top: 4rem;
        margin-bottom: 1rem;
        margin-right: 3rem;
        width: 14vw;
    }

    .container-mobile{
        margin-top: 2rem;
    }
    .logo{
        width: 200px;
    }

    /*.objectList {
        font-size: large;
        margin: .5em;
    }

    .objectList.dropdown.open .dropdown-content {
        width: 95vw;
        margin-left: -6.5rem;
        margin-right: -6.5rem;
    }*/
}

@media screen and (min-width: 1500px) {

    .navbar-nav {
        font-size: larger;
    }

    .nav-item{
        margin-right: 3rem;
        width: 16vw;
    }

    .container-mobile{
        margin-right: 2rem;
    }

    /*.objectList {
        font-size: large;
        margin: .5em;
    }

    .objectList.dropdown.open .dropdown-content {
        width: 95vw;
        margin-left: -6.5rem;
        margin-right: -6.5rem;
    }*/
}