* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sectionContacts {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}
.sectionContacts .contactsContainer {
  text-align: center;
}
.sectionContacts .contactsContainer .titleContainer {
  padding: 30px;
}
.sectionContacts .contactsContainer .titleContainer .contactsh2 {
  font-size: 27px;
  margin: 0;
  font-weight: 600;
}
.sectionContacts .contactsContainer .titleContainer .contactsh3 {
  font-size: 19px;
  margin: 3px;
}
.sectionContacts .contactsContainer .iframeContainer {
  text-align: center;
}
.sectionContacts .contactsContainer .iframeContainer iframe {
  width: 90%;
  height: 450px;
  border: 0;
  text-align: center;
}
.sectionContacts .formContainer .formh3 {
  text-align: center;
  font-size: 19px;
  margin-top: 35px;
  margin-bottom: 25px;
  font-weight: 600;
  color: #007680;
}
.sectionContacts .formContainer .row .namePhoneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.sectionContacts .formContainer .row .namePhoneContainer .col-md-2 {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.sectionContacts .formContainer .row .namePhoneContainer .col-md-2 .form-control {
  border-color: #007680;
}
.sectionContacts .formContainer .row .emailContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.sectionContacts .formContainer .row .emailContainer .col-4 .form-control {
  border-color: #007680;
}
.sectionContacts .formContainer .btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.sectionContacts .formContainer .btnContainer .submit {
  background-color: #007680;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  height: 230px;
  background-color: #FBF9F7;
}
.footer .footerContainer {
  font-family: "Raleway", sans-serif;
  padding-top: 10px;
}
.footer .footerContainer .footerh3 {
  padding-left: 248px;
  font-size: 18px;
  margin-bottom: 3px;
  font-weight: 600;
  margin: 0;
  padding-top: 5px;
}
.footer .footerContainer .iconsBox {
  display: flex;
  justify-content: space-around;
  padding-top: 3px;
}
.footer .footerContainer .iconsBox .iconsContainer {
  display: flex;
  align-items: center;
  padding: 3px;
  margin-top: 5px;
}
.footer .footerContainer .iconsBox .iconsContainer #icons {
  font-size: 2rem;
  color: #007680;
}
.footer .footerContainer .iconsBox .iconsContainer .iconsText {
  padding-left: 7px;
  color: #343D41;
  font-size: 13px;
  margin: 0;
}
.footer .footerContainer .iconsBoxMobile {
  display: none;
}
.footer .smallContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer .smallContainer .smallFooter {
  font-size: 11px;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.floatWhatsapp {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

@media screen and (max-width: 1075px) {
  .footer .footerContainer .footerh3 {
    text-align: center;
    padding-left: 0;
  }
}
@media screen and (max-width: 770px) {
  .sectionContacts .formContainer .row .namePhoneContainer {
    flex-direction: column;
  }
}
@media screen and (max-width: 460px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer .footerContainer .footerh3 {
    font-size: 14px;
  }
  .footer .footerContainer .iconsBox {
    display: none;
  }
  .footer .footerContainer .iconsBoxMobile {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  .footer .footerContainer .iconsBoxMobile a {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
